.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background-color: #1a1a1a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #ff0200;
  text-decoration: none;
}

.links button {
  background-color: #ff0200;
  border: none;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.links button:hover {
  background-color: #f32e2e;
}

.refreshBtn {
  margin-left: 20px;
}

.searchIcon {
  display: none;
}

.mobileSearch {
  display: none;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: #1a1a1a;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.mobileSearch.show {
  display: flex;
  transform: translateY(0);
}

@media (max-width: 700px) {
  .desktopSearch {
    display: none;
  }
  .links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .searchIcon {
    display: block;
    cursor: pointer;
  }
  .navbar {
    padding: 0 10px;
  }
}

@media (max-width: 385px) {
  .mobileSearch {
    top: 99px;
  }
  .navbar {
    flex-direction: column;
    padding: 1rem 0;
  }
}

@media (min-width: 881px) {
  .menu {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    padding: 0;
  }
  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .refreshBtn {
    margin-left: 20px;
  }
  .menu.show {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}

@media (max-width: 880px) {
  .refreshBtn {
    display: none;
  }
}
